<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gamers Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>

      </ul>


      <div class="btn-group mr-2 d-flex" *ngIf="loggedIn()">
        <button type="button" class="btn btn-warning dropdown-toggle">
          Welcome User
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Edit profile</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>

      <form class="d-flex" #form="ngForm" (ngSubmit)="login(form)" *ngIf="! loggedIn()">
        <input class="form-control mr-2"  required  ngModel name="username" type="text" placeholder="Username" >
        <input class="form-control mr-2"  required  ngModel name="password" type="password" placeholder="Password" >
        <button [disabled]="form.invalid || !form.touched" class="btn btn-success"   type="submit">Login</button>

      </form>
    </div>
  </div>
</nav>
